<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MoviesWebAPI">
<head>
    @Styles.Render("~/Content/css")
    <title></title>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    @*Insert you scripts here!*@
    <script src="~/ngApp/app.js"></script>
    <script src="~/ngApp/controllers/moviesController.js"></script>
    <script src="~/ngApp/services/cookieService.js"></script>
    <script src="~/ngApp/controllers/fortuneCookie.js"></script>


</head>
<body>
    
<ng-view></ng-view>

</body>
</html>